.home{
  background-color:#CCCC;
  width:100vw;
  height:95vh;
  display:flex-block;
  overflow: hidden;
  min-width:815px;
}

#WorkSpace{
  display:inline-flex;
}

.left{
  width:50vw;
}
.right{
  text-align: center;
  position: relative;
  left:10px;
  min-width:360px;
}




select{
  margin-right:20px;
  margin-left:5px;
}

.home h1{
  padding:0px;
  margin:0px;
}

.right button{
  margin:5px;
  width: 200px;
  height:25px;
  border-radius: 5px;
  background-color: rgb(87, 69, 250);
  color:white;
}

.right button:hover{
  cursor: pointer;
}

.options{
  min-width:420px;
}

.tableSpace{
  width:50vw;
  height:87vh;
  overflow: scroll;
  min-width:400px;
}