.home{
  background-color:#CCCC;
  width:100vw;
  height:95vh;
  display:flex-block;
  overflow: scroll;
}

.home button{
  margin:5px;
  width: 50px;
  height:25px;
  border-radius: 5px;
  background-color: rgb(87, 69, 250);
  color:white;
}

.home button:hover{
  cursor: pointer;
}

#WorkSpace{
  display:inline-flex;
}

.left{
  width:100vw;
  margin-left:auto;
  margin-right:auto;
}





select{
  margin-right:20px;
  margin-left:5px;
}

.home h1{
  padding:0px;
  margin:0px;
}


.tableSpace{
  overflow-y: scroll;
  overflow-x:hidden;
  margin-left:auto;
  margin-right:auto;
}

.ReactTable{
  
}