.signup{
  color:black;

}

.signCont{
  background-color:#CCCC;
  height:95vh;
  width:100vw;
}
.signCont h1{
  margin:0px;
  padding:0px;
}

.signCont button{
  margin:5px;
  width: 200px;
  height:25px;
  border-radius: 5px;
  background-color: #492;
  color:white;
}

.signCont button:hover{
  background-color: rgb(34, 153, 143);
  cursor: pointer;
}