.Forget{
    color:black;
    text-decoration: none;
  }
  
  .forgetBody{
    background-color:inherit;
  }
  
  .forgetBody h1{
    padding:0px;
    margin:0px;
  }
  
  .forgetBody button{
    margin:5px;
    width: 200px;
    height:25px;
    border-radius: 5px;
    background-color: rgb(87, 69, 250);
    color:white;
  }
  
  .forgetBody button:hover{
    background-color: rgb(108, 106, 233);
    cursor: pointer;
  }